
@import url("default.css");

body {
  /* width: 51.69em; */
  /* min-width: 750px; */
  margin: auto;
  font-size: 13px;
}

div.document {
  width: 53em;
  margin: auto;
}

div.exercici {
  padding: 0;
  margin-bottom: 1em;
  border: 1px solid #c0c0c0;
  font-size: 85%;
}

div.exercici p.first {
  margin: 0;
  font-weight: bold;
  color: #333333;
  padding: 2px 2px 2px 5px;
  background: #cccccc;
}

div.exercici div.body {
  padding: 10px;
  line-height: 130%;
}

div.exercici div.body p {
  margin: 4px 0;
}

.highlight {
  font-size: 100%;
}

div.problema {
  margin-top: 7px;
}

div.problema div.body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

div.problema p.problema-title {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 5px;
}

table.docutils {
  border: 1px solid gray;
  margin: 20px;
}

table.docutils td, table.docutils th {
  padding: 3px 5px;
}

table.docutils thead {
  background: #dddddd;
}

dl.docutils dt {
  font-weight: bold;
}

dl.cfunction dt {
  font-size: 90%;
  font-family: "Monospace";
  background: #ffd0ad;
  padding: 1px 3px;
}

tt.descname, tt.descclassname {
  font-size: 110%;
}

