
@import url("default.css");

body {
  /* width: 51.69em; */
  /* min-width: 750px; */
  margin: auto;
  font-size: 13px;
}

div.document {
  width: 53em;
  margin: auto;
}

/* Boxed */

div.boxed {
  padding: 0;
  margin-bottom: 1em;
  border: 1px solid #444444;
  font-size: 85%;
}

div.boxed p.first {
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  padding: 2px 2px 2px 5px;
  background: #444444;
}

div.boxed div.body {
  padding: 10px;
  line-height: 130%;
}

div.boxed div.body p {
  margin: 4px 0;
}

/* Exercici */

div.exercici   { border: 1px solid #884444; }
div.exercici p.first { background: #884444; }

/* Exemple */

div.exemple   { border: 1px solid #448844; }
div.exemple p.first { background: #448844; }

/* Solucio */

div.solucio p.title { font-weight: bold; }
div.solucio div.body { padding: 0; }

/* ---- */

.highlight {
  font-size: 100%;
}

div.problema {
  margin-top: 7px;
}

div.problema div.body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

div.problema p.problema.title {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 5px;
}

table.docutils {
  border: 1px solid gray;
  margin: 20px;
}

table.docutils td, table.docutils th {
  padding: 3px 5px;
}

table.docutils thead {
  background: #dddddd;
}

dl.docutils dt {
  font-weight: bold;
}

dl.cfunction dt {
  font-size: 90%;
  font-family: "Monospace";
  background: #ffd0ad;
  padding: 1px 3px;
}

tt.descname, tt.descclassname {
  font-size: 110%;
}

