
@import url("default.css");

div.exercici {
  padding: 0;
  margin-bottom: 1em;
  border: 1px solid #c0c0c0;
  font-size: 85%;
}

div.exercici p.first {
  margin: 0;
  font-weight: bold;
  color: #333333;
  padding: 2px 2px 2px 5px;
  background: #cccccc;
}

div.exercici div.body {
  padding: 10px;
  line-height: 130%;
}

div.exercici div.body p {
  margin: 4px 0;
}

div.highlight {
  margin: 0 1.5em;
}

div.problema {
  margin-top: 7px;
}

div.problema div.body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

div.problema p.problema-title {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 5px;
}

table.docutils td, table.docutils th {
  padding: 3px;
}